{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/turtleduck.png')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>My name is Vlad and I'm really excited about this blog. I like videogames, reading and music. But most of all
        I like making things, like this blog. Recently I started learning programming and with the knowledge I gained I
        started this little project. I'll be posting pretty random stuff. But I thought I'd introduce myself just so you
        know a little about me and what you'll be seeing here.</p>
        <p>I live in London where I work as a bartender while I study and try to break in the tech industry. I spend
        most of my days either working, studying or job hunting. But on my free time I do so many things I had to start
        scheduling my hobbies. I love sitting around with my guitar and just play until my fingers hurt. I love sports
        and I recently got into bouldering (and I'm pretty good at it). I love videogames and I could spend hours
        playing and talking about them. Some of my favourites are "The last of us" and "Horizon" (the one about the
        robots, not the racing one). I love travelling and I do it quite often. I'm also really into reading, especially
        fantasy novels. I'm a big fan of the Brandon Sanderson's "Mistborn" saga, Patrick Rothfuss' "King killer
        chronicles" and Sarah J. Maas' "Throne of glass" saga. I'm a major cinephile but there are a lot of classics I
        still haven't seen. I didn't really have a lot of free time since I moved to London.</p>
        <p>That's pretty much it. Me in a nutshell. I hope you have a good time reading my ramblings.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}